@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #D3E97A;
    color: #0A0A0A;
}

html {
    background-color: #0A0A0A;
}

.bebas-neue-font {
    font-family: 'Bebas Neue', sans-serif;
}

.manrope-font {
    font-family: 'Manrope', sans-serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
    ;
}